* {
  padding: 0px;
  margin: 0px;
  font-family: monaco;
}

#container {
  width: 970px;
  margin: 0px auto;
  vertical-align: top;
}

.action {
  width: 165px
}

.price {
  width: 100px;
}

table {
  width: 970px;
  margin: 0px auto;
  border: 2px solid black;
}

tr {
  text-align: center;
}

thead {
  background-color: gray;
  border-bottom: solid;
}

tbody tr {
  border: 1px dotted green;
}
