* {
  padding: 0px;
  margin: 0px;
  font-family: monaco;
}

#container {
  width: 970px;
  margin: 0px auto;
  vertical-align: top;
}

.action {
  width: 165px
}

.show {
  display: inline-block;
}

.price {
  width: 100px;
}

.title {
  width: 90px;
  height: 30px;
}

.value {
  width: 800px;
  height: 30px;
  text-align: left;
  padding-left: 50px;
}

.btn {
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  margin: 0px auto;
}

table {
  width: 970px;
  margin: 0px auto;
  border: 2px solid black;
}

tr {
  text-align: center;
}

thead {
  background-color: gray;
  border-bottom: solid;
}

tbody tr {
  border: 1px dotted green;
}

form {
  width: 700px;
  text-align: right;
}
label {
  display: block;
}

input {
  text-align: left;
  width: 500px;
}

input[type='submit'] {
  width: 70px;
  text-align: center;
  font-weight: bold;
}

form h3 {
 text-align: center
}
