<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charvar='utf-8' />
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h2>Products</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th class='price'>Price</th>
            <th class='action'>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product['name'] }}</td>
            <td>{{ product['description'] }}</td>
            <td>${{ product['price'] }}</td>
            <td>
              <button><a href="/Products/show/{{ product['id'] }}">Show</a></button>
              <button><a href="/Products/edit/{{ product['id'] }}">Edit</a></button>
              <button class='btn'><a href="/Products/destroy/{{ product['id'] }}">Remove</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h4><a href='/Products/new'>Add a new product</h4>
    </div>
  </body>
</html>
