<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charvar='utf-8' />
    <title>Add a product</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h2>Product {{1}}</h2>
      <p class="show">Name:</p>
      <p class="show">Hose:</p>
      <p class="show">Description:</p>
      <p class="show">>For your neighbor:</p>
      <p class="show">Price:</p>
      <p class="show">$14.99:</p>

      <h4><a href="/Product/edit/{{<id>}}">Edit</a> | <a href='/Products'>Back</a></h4>
    </div>
  </body>
</html>
