<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charvar='utf-8' />
    <title>Add a product</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h2>Product {{ product['id'] }}</h2>
      <p class="show title">Name:</p>
      <p class="show value">{{ product['name'] }}</p>
      <p class="show title">Description:</p>
      <p class="show value">{{ product['description'] }}</p>
      <p class="show title">Price:</p>
      <p class="show value">${{ product['price'] }}</p>

      <h4><a href="/Products/edit/{{ product['id'] }}">Edit</a> | <a href='/Products'>Back</a></h4>
    </div>
  </body>
</html>
